/* 整体容器样式 */
div {
    border-radius: 5px;
    padding: 2px;
}


/* 下拉选择框样式 */
.select-field {
    width: 100%;
    /* padding: 12px 20px; */
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    /* box-sizing: border-box; */
}

/* 按钮样式 */
.button {
    width: 100px;
    height: 30px;
    padding: 5px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* 按钮悬停样式 */
.button:hover {
    background-color: #0069d9;
}